.table-view {
    -fx-focus-traversable: false;
}

.button {
    -fx-focus-traversable: false;
}

.text-field {
    -fx-focus-traversable: false;
}

.text-area {
    -fx-focus-traversable: false;
}

.combo-box {
    -fx-focus-traversable: false;
}

